<canvas id="auxiliar"></canvas>
<canvas id="canvas"></canvas>
<div id="instr">Al terminar la partida introduce tus iniciales para saber si estas entre los 10 mejores</div>
<div> <form>
  <input  type="text" id="nombre">
  <a id="boton" href="#score">COMPROBAR</a>
  </form></div>
 <audio id="golpeL">
   <source src="assets/sound/ladri.mp3" type="audio/mpeg" />
Your browser does not support the audio element.
</audio>
 <audio id="golpeP">
   <source src="assets/sound/plata.mp3" type="audio/mpeg" />
Your browser does not support the audio element.
</audio>
<audio id="musica">
    <source src="assets/sound/musica.mp3" type="audio/mpeg" />
Your browser does not support the audio element.
</audio>
