<h2>OPCIONES</h2>
 <audio id="music">
 <source src="assets/sound/opciones.mp3" type="audio/mpeg" />
Your browser does not support the audio element.
</audio>
 <audio id="magia">
 <source src="assets/sound/magia.mp3" type="audio/mpeg" />
Your browser does not support the audio element.
</audio>
 <audio id="fx">
   <source src="assets/sound/plata.mp3" type="audio/mpeg" />
Your browser does not support the audio element.
</audio>
<div id="opciones">
  <p class="title">sonido</p>
  <p><a class="soundon">si</a> <a class="soundoff selectorno">no</a></p>
  <p class="title">efectos</p>
<p><a class="fxon">si</a> <a class="fxoff selectorno">no</a></p>
  <p><a id="reset">reset score</a></p>
  <p><a href="#creditos">creditos</a></p>
</div>
 <div class="volver">
  <a href="" class="volver">Volver</a>
</div>

